/* google font added  */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/* common styles  */
body{
    font-family: 'Poppins', sans-serif;
}
.tech-cover-img{
   background-image:  linear-gradient(90deg, rgba(24,24,24,1) 0%, rgba(36,35,35,1) 100%);
}
.tech-cover-img>img{
    height: 700px;
    opacity: 0.9;
}
.tech-btn{
    background-color: #289BDE;
    color: white;
    padding: 10px 20px;

}
.tech-courses>img{
    height: 200px;
}
.custom-object-fit>img{
    
    height: 250px;
    object-fit: contain;
   
}

@media  screen and (max-width:576px) {
    .tech-cover-img>img{
        height: 350px;
    }
    .tech-header{
        font-size: 25px;
    }
   
}
@media  screen and (min-width:577px) and (max-width:768px){
    .tech-cover-img>img{
        height: 500px;
    }
}